bazel-*
external

compile_commands.json

.venv
.pytest_cache
.ruff_cache
.mypy_cache
.DS_Store
.env
.env.*
__pycache__
*.egg-info
build

backend/**/*.bin
backend/**/*.bin.zip

backend/.buildx-cache
backend/.buildx-cache-info

backend/docker-compose.yml
backend/docker-compose.dev.yml
backend/docker-compose.preview.yml

.buildx-cache
.buildx-cache-amd64
.buildx-cache-arm64

.out-amd64
.out-arm64

backend/temp-data/**

backend/packages/rb_flat_buffers/src/rb_flat_buffers/SLAMNAV/**
backend/packages/rb_flat_buffers/src/rb_flat_buffers/IPC/**
