bazel-*
external

compile_commands.json

.venv
.pytest_cache
.ruff_cache
.mypy_cache
.DS_Store
.env
.env.*
__pycache__
*.egg-info
build

backend/**/*.bin
backend/docker-compose.yml
backend/docker-compose.preview.yml