
services:
  amr:
    build:
      dockerfile: Dockerfile.prod
    image: rrs-fastapi:latest
    container_name: amr-service
    profiles: [amr, all]
    environment:
      - SERVICE=amr
      - PORT=8007
    restart: unless-stopped
    ports:
      - "8007:8007"
    network_mode: host
    ipc: host
    env_file:
      - ./services/amr/config.env
      - ./.env
    volumes:
      - ./services/amr/amr.arm64.bin:/amr.arm64.bin
      - ./services/amr/amr.amd64.bin:/amr.amd64.bin
      - /data:/data

  common:
    build:
      dockerfile: Dockerfile.prod
    image: rrs-fastapi:latest
    container_name: common-service
    profiles: [common, all]
    environment:
      - SERVICE=common
      - PORT=8000
    restart: unless-stopped
    ports:
      - "8000:8000"
    network_mode: host
    ipc: host
    env_file:
      - ./services/common/config.env
      - ./.env
    volumes:
      - ./services/common/common.arm64.bin:/common.arm64.bin
      - ./services/common/common.amd64.bin:/common.amd64.bin
      - ./data:/data

  deploy:
    build:
      dockerfile: Dockerfile.prod
    image: rrs-fastapi:latest
    container_name: deploy-service
    profiles: [deploy, all]
    environment:
      - SERVICE=deploy
      - PORT=8006
    restart: unless-stopped
    ports:
      - "8006:8006"
    network_mode: host
    ipc: host
    env_file:
      - ./services/deploy/config.env
      - ./.env
    volumes:
      - ./services/deploy/deploy.arm64.bin:/deploy.arm64.bin
      - ./services/deploy/deploy.amd64.bin:/deploy.amd64.bin
      - ./data:/data

  log:
    build:
      dockerfile: Dockerfile.prod
    image: rrs-fastapi:latest
    container_name: log-service
    profiles: [log, all]
    environment:
      - SERVICE=log
      - PORT=8005
    restart: unless-stopped
    ports:
      - "8005:8005"
    network_mode: host
    ipc: host
    env_file:
      - ./services/log/config.env
      - ./.env
    volumes:
      - ./services/log/log.arm64.bin:/log.arm64.bin
      - ./services/log/log.amd64.bin:/log.amd64.bin
      - ./data:/data

  manipulate:
    build:
      dockerfile: Dockerfile.prod
    image: rrs-fastapi:latest
    container_name: manipulate-service
    profiles: [manipulate, all]
    environment:
      - SERVICE=manipulate
      - PORT=8001
    restart: unless-stopped
    ports:
      - "8001:8001"
    network_mode: host
    ipc: host
    env_file:
      - ./services/manipulate/config.env
      - ./.env
    volumes:
      - ./services/manipulate/manipulate.arm64.bin:/manipulate.arm64.bin
      - ./services/manipulate/manipulate.amd64.bin:/manipulate.amd64.bin
      - ./data:/data

  api-gateway:
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    image: rrs-nginx:latest
    profiles: [api-gateway]
    environment:
      - BUILDKIT_PROVENANCE=0
      - BUILDKIT_SBOM_SCAN=0
    container_name: api-gateway
    restart: unless-stopped
    volumes:
      - ./api-gateway/nginx.conf:/etc/nginx/nginx.conf:ro
    network_mode: host

  rrs-mongo:
    image: mongo:7
    container_name: rrs-mongo
    command: ["mongod", "--replSet", "rs0", "--bind_ip_all"]
    profiles: [rrs-mongo]
    ports: ["27017:27017"]
    network_mode: host
    volumes:
      - rrs-mongo-data:/data/db

volumes:
  rrs-mongo-data:
