version: '3.8'
services:
  common:
    build:
      context: ../
      dockerfile: backend/Dockerfile.dev
    image: rrs-fastapi-dev:latest
    container_name: common-service-dev
    environment:
      - SERVICE=common
      - PORT=11337
    restart: unless-stopped
    network_mode: host
    ipc: host
    env_file:
      - ./services/common/config.env
    volumes:
      - ../api-gateway/nginx.conf:/app/api-gateway/nginx.conf:ro
      - ./services/common:/app/backend/services/common
      - ./packages:/app/backend/packages

  manipulate:
    build:
      context: ../
      dockerfile: backend/Dockerfile.dev
    image: rrs-fastapi-dev:latest
    container_name: manipulate-service-dev
    environment:
      - SERVICE=manipulate
      - PORT=8001
    restart: unless-stopped
    network_mode: host
    ipc: host
    env_file:
      - ./services/manipulate/config.env
    volumes:
      - ../api-gateway/nginx.conf:/app/api-gateway/nginx.conf:ro
      - ./services/manipulate:/app/backend/services/manipulate
      - ./packages:/app/backend/packages

  api-gateway:
    build:
      context: ../api-gateway
      dockerfile: Dockerfile
    image: rrs-nginx:latest
    environment:
      - BUILDKIT_PROVENANCE=0
      - BUILDKIT_SBOM_SCAN=0
    container_name: api-gateway
    restart: unless-stopped
    volumes:
      - ../api-gateway/nginx.conf:/etc/nginx/nginx.conf:ro
    network_mode: host
