version: '3.8'
services:
  common:
    build:
      context: ../
      dockerfile: backend/Dockerfile.dev
    image: rrs-fastapi-dev:latest
    container_name: common-service-dev
    environment:
      - SERVICE=common
      - PORT=8000
      - IS_DEV=true
    restart: unless-stopped
    ports:
      - "8000:8000"
    depends_on:
      - zenoh-router
    env_file:
      - ./services/common/config.env
    networks: [rb_net]
    volumes:
      - ../api-gateway/nginx.conf:/app/api-gateway/nginx.conf:ro
      - ./services/common:/app/backend/services/common
      - ./packages:/app/backend/packages

  manipulate:
    build:
      context: ../
      dockerfile: backend/Dockerfile.dev
    image: rrs-fastapi-dev:latest
    container_name: manipulate-service-dev
    environment:
      - SERVICE=manipulate
      - PORT=8001
      - IS_DEV=true
    restart: unless-stopped
    ports:
      - "8001:8001"
    depends_on:
      - zenoh-router
    env_file:
      - ./services/manipulate/config.env
    networks: [rb_net]
    volumes:
      - ../api-gateway/nginx.conf:/app/api-gateway/nginx.conf:ro
      - ./services/manipulate:/app/backend/services/manipulate
      - ./packages:/app/backend/packages

  api-gateway:
    build:
      context: ../api-gateway
      dockerfile: Dockerfile
    image: rrs-nginx:latest
    environment:
      - BUILDKIT_PROVENANCE=0
      - BUILDKIT_SBOM_SCAN=0
    container_name: api-gateway-dev
    restart: unless-stopped
    volumes:
      - ../api-gateway/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "3000:3000"
    networks: [rb_net]
      
  zenoh-router:
    build:
      context: ../zenoh-router
      dockerfile: Dockerfile
    image: zenoh-router:latest
    container_name: zenoh-router
    volumes:
      - ../zenoh-router/zenoh.json5:/etc/zenoh/zenoh.json5:ro
    ports:
      - "7447:7447/tcp"
      - "7446:7446/udp"
    networks: [rb_net]

networks:
  rb_net:
    driver: bridge

