version: '3.8'
services:
  manipulate:
    build:
      context: ../
      dockerfile: backend/Dockerfile.dev
    image: rrs-fastapi-dev:latest
    container_name: manipulate-service-dev
    environment:
      - SERVICE=manipulate
      - PORT=8000
    restart: unless-stopped
    networks:
      - backend
    env_file:
      - ./services/manipulate/config.env
    volumes:
      - ../:/app

  api-gateway:
    build:
      context: ../api-gateway
      dockerfile: Dockerfile
    image: rrs-nginx:latest
    environment:
      - BUILDKIT_PROVENANCE=0
      - BUILDKIT_SBOM_SCAN=0
    container_name: api-gateway
    restart: unless-stopped
    ports:
      - "3000:80"
    volumes:
      - ../api-gateway/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - backend

networks:
  backend:
    driver: bridge
