name: after-backend-deploy
on:
  repository_dispatch:
    types: [end-backend-deploy]

jobs:
  start:
    runs-on: self-hosted

    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v3

      - name: Get Branch Name
        run: |
          BRANCH_NAME=${{ github.event.client_payload.branch }}
          echo "BRANCH_NAME=$BRANCH_NAME" >> $GITHUB_ENV

      - name: Get Service Names
        run: |
          for dir in backend/services/*/; do
            if [ -d "${dir}" ]; then
                # 디렉토리 경로에서 앱 이름만 추출
                APP_NAME=$(basename "${dir}")
                # 중복 체크 후 추가
                if [[ ! " ${APP_NAMES[@]} " =~ " ${APP_NAME} " ]]; then
                    APP_NAMES+=("$APP_NAME")
                fi
            fi
          done

          echo "APP_NAMES=$APP_NAMES" >> $GITHUB_ENV

      # - name: Download dist file from s3
      #   run: |
      #     S3_BASE_URL="https://rainbow-deploy.s3.ap-northeast-2.amazonaws.com/robot-repeater-server/$BRANCH_NAME"
