name: build-and-deploy

on:
  push:
    tags:
      - 'deploy/**'
      - 'deploy_hotfix/**'

permissions:
  contents: write
jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3

      - name: Get Hotfix Flag
        run: |
          TAG_NAME=${GITHUB_REF#refs/tags/}
          DEPLOY_TYPE=$(echo $TAG_NAME | cut -d'/' -f1)
          echo "DEPLOY_TYPE=$DEPLOY_TYPE" >> $GITHUB_ENV
          if [ "$DEPLOY_TYPE" == "deploy_hotfix" ]; then
            echo "HOTFIX=true" >> $GITHUB_ENV
          else
            echo "HOTFIX=false" >> $GITHUB_ENV
          fi

      - name: Get Branch Name
        run: |
          TAG_NAME=${GITHUB_REF#refs/tags/}
          BRANCH_NAME=$(echo $TAG_NAME | cut -d'/' -f2)
          echo "BRANCH_NAME=$BRANCH_NAME" >> $GITHUB_ENV

      - name: Get Release Version
        id: get_release_version
        run: |
          TAG_NAME=${GITHUB_REF#refs/tags/}
          VERSION=$(echo $TAG_NAME | cut -d'/' -f3)
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Run build script
        run: |
          bash scripts/build.sh

      - name: Compress build, lib directory And Remove build directory
        run: |         
          LIB_DIR="build/lib"
          SPLIT_BASE="lib-split"
          SIZE_LIMIT=$((95 * 1024 * 1024)) # 95MB
          PART_PREFIX="lib-part"
          mkdir -p "$SPLIT_BASE"

          mapfile -t LIB_FILES < <(
            find "$LIB_DIR" -maxdepth 1 -type f -name "*.so*" -exec du -b {} + |
            sort -nr | awk '{print $1 ":" $2}'
          )

          PART_INDEX=1
          PART_SIZE=0
          PART_DIR=""

          for entry in "${LIB_FILES[@]}"; do
            size=${entry%%:*}
            path=${entry##*:}
            base=$(basename "$path")

            if [[ -z "$PART_DIR" || $((PART_SIZE + size)) -gt $SIZE_LIMIT ]]; then
              PART_DIR="$SPLIT_BASE/${PART_PREFIX}-${PART_INDEX}"
              mkdir -p "$PART_DIR"
              PART_SIZE=0
              ((PART_INDEX++))
            fi

            cp "$path" "$PART_DIR/$base"
            PART_SIZE=$((PART_SIZE + size))
          done

          for dir in "$SPLIT_BASE"/${PART_PREFIX}-*; do
            name=$(basename "$dir")
            tar -czf "${name}.tar.gz" -C "$dir" .
          done

          BRANCH_NAME=${{ env.BRANCH_NAME }}
          VERSION=${{ env.VERSION }}

          sed "s/^BRANCH=.*/BRANCH=\"$BRANCH_NAME\"/" scripts/deps-install.sh \
          | sed "s/^VERSION=.*/VERSION=\"$VERSION\"/" \
          > build/deps-install.sh

          chmod +x build/deps-install.sh

          cp scripts/exec-files/deps-install.desktop build/deps-install.desktop
          cp scripts/exec-files/deps-install.command build/deps-install.command
          cp scripts/exec-files/deps-install.bat build/deps-install.bat

          tar --exclude='lib' -czf build-${VERSION}.tar.gz -C build .

          du -h build.tar.gz
          for file in ${PART_PREFIX}-*.tar.gz; do
            du -h "$file"
          done

          rm -rf build
          cd "$GITHUB_WORKSPACE"

      - name: Clone release apps repository
        env:
          GH_TOKEN: ${{ secrets.RAINBOW_APPS_DEPLOY_TOKEN }}
        run: |
          git clone https://$GH_TOKEN@github.com/rainbow-mobile/rainbow-release-apps.git
          cd rainbow-release-apps
          
          # 원하는 브랜치가 있는지 확인하고 없으면 empty 브랜치에서 생성
          if ! git ls-remote --heads origin ${{ env.BRANCH_NAME }} | grep ${{ env.BRANCH_NAME }}; then
            echo "Branch ${{ env.BRANCH_NAME }} not found, creating from empty branch"
            git checkout empty
            git checkout -b ${{ env.BRANCH_NAME }}
            git push origin ${{ env.BRANCH_NAME }}
          else
            git checkout ${{ env.BRANCH_NAME }}
          fi
          
          cd ..
          
      - name: Copy and commit build files
        env:
          GH_TOKEN: ${{ secrets.RAINBOW_APPS_DEPLOY_TOKEN }}
        run: |
          cd rainbow-release-apps
          APP_DIR="slamnav2"
          
          # 디렉토리가 존재하는지 확인하고 생성
          mkdir -p "$APP_DIR"

          # hotfix 여부 확인
          HOTFIX_LINE=""
          if [ "${{ env.HOTFIX }}" == "true" ]; then
            HOTFIX_LINE=", \"hotfix\": true"
          fi

           # version.json 파일 생성/갱신
          echo "{\"new_version\": \"${{ env.VERSION }}\"$HOTFIX_LINE}" > "$APP_DIR/version.json"
          
          # 현재 버전 디렉토리 수 확인 및 정리
          DIR_COUNT=$(ls -1 "$APP_DIR" | wc -l)
          if [ "$DIR_COUNT" -ge 10 ]; then
            OLDEST_DIR=$(ls -1 "$APP_DIR" | sort -V | head -n 1)
            rm -rf "$APP_DIR/$OLDEST_DIR"
          fi

          # 압축파일 이동
          mkdir -p "$APP_DIR/${{ env.VERSION }}"
          mkdir -p "$APP_DIR/${{ env.VERSION }}/lib"

          mv "../build-${{ env.VERSION }}.tar.gz" "$APP_DIR/${{ env.VERSION }}"

          for f in ../lib-part-*.tar.gz; do
            mv "$f" "$APP_DIR/${{ env.VERSION }}/lib"
          done
          
          # 새 버전 배포
          git config --global user.email "dfd1123@naver.com"
          git config --global user.name "dfd1123"
          git add .
          git commit -m "Release App: Slamnav2, Version: ${{ env.VERSION }}"
          git remote set-url origin https://$GH_TOKEN@github.com/rainbow-mobile/rainbow-release-apps.git
          git push origin ${{ env.BRANCH_NAME }}

      - name: Delete release tag
        if: always()
        env:
          GH_TOKEN: ${{ secrets.RAINBOW_APPS_DEPLOY_TOKEN }}
        run: |
          cd $GITHUB_WORKSPACE
          
          # 태그 삭제
          git push origin --delete "${{ env.DEPLOY_TYPE }}/${{ env.BRANCH_NAME }}/${{ env.VERSION }}"